(defcfg
  process-unmapped-keys yes
)

;; Only keys that change from QWERTY need to be listed.
;; Colemak-DH:
;;   q w f p b  j l u y ;
;;   a r s t g  m n e i o
;;   z x c d v  k h , . /

(defsrc
  f1   f2   f7   f8   f9   f10  f11  f12
  caps
  e    r    t    y    u    i    o    p
  a    s    d    f    h    j    k    l    ;
  v    b    n    m
  lsft rsft
  spc
)

(deflayer colemak-dh
  brdn brup prev pp   next mute vold volu
  @cap
  f    p    b    j    l    u    y    ;
  @a   @r   @s   @t   m    @n   @e   @i   @o
  d    v    k    h
  @lsft @rsft
  @spc
)

(deflayer nav
  XX   XX   XX   XX   XX   XX   XX   XX
  XX
  XX   XX   XX   XX   C-S-tab  C-tab  XX   XX
  XX   XX   XX   f13  left  down  up    rght  ret
  XX   XX   XX   XX
  XX   XX
  XX
)

(defalias
  cap  (tap-hold 200 200 esc lctl)
  a    (tap-hold 200 300 a lctl)
  r    (tap-hold 200 300 r lalt)
  s    (tap-hold 200 200 s lsft)
  t    (tap-hold 200 200 t lmet)
  n    (tap-hold 200 200 n lmet)
  e    (tap-hold 200 200 e lsft)
  i    (tap-hold 200 300 i lalt)
  o    (tap-hold 200 300 o lctl)
  lsft (tap-hold 200 200 (one-shot 1000 lsft) lsft)
  rsft (tap-hold 200 200 (one-shot 1000 rsft) rsft)
  spc  (tap-hold 200 200 spc (layer-while-held nav))
)
